<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>issues</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <section id="issuesapp">
    <header id="header">
      <h1>issues</h1>
    </header>
    <section id="issues" class="issues-mode">
      <ul id="issue-list"></ul>
    </section>
    <section id="issue" class="issue-mode">
      <div id="issue-details"></div>
    </section>
    <footer id="footer">
      <nav class="issues-nav issues-mode">
        <button id="prev-page">&lt;</button>
        <button id="next-page">&gt;</button>
      </nav>
      <nav class="issue-nav issue-mode">
        <button id="back">&lt;</button>
      </nav>
    </footer>
  </section>
  <script type="text/template" id="list-item-template">
    <div class='left'>
      <h3 class='title'><%- title %></h3>
      <ul class='labels'>
        <%
          function getContrast50(hexcolor){
            return (parseInt(hexcolor, 16) > 0xffffff/2) ? 'dark': 'light';
          }
          _.each(labels, function (item, key, list) {
            var textClass = getContrast50(item.color);
        %>
          <a href=<%- item.url %>>
            <li class='label <%= textClass %>' style='background-color:#<%= item.color %>'>
              <%- item.name %>
            </li>
          </a>
        <%
          });
        %>
      </ul>
      <p class='body'><%- body %></p>
    </div>
    <div class='right'>
      <img class='avatar' src=<%= user.avatar_url %>
      <h5 class='username'><%- user.username %></h5>
    </div>
  </script>
  <script type="text/template" id="detail-template">
    <div class="view">
      <label class="title"><%- title %></label>
    </div>
  </script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src='bower_components/backbone/backbone.js'></script>
  <script src="js/models/issue.js"></script>
  <script src="js/models/page.js"></script>
  <script src="js/collections/issues.js"></script>
  <script src="js/views/issue-list-item-view.js"></script>
  <script src="js/views/issue-detail-view.js"></script>
  <script src="js/views/app-view.js"></script>
  <script src="js/routers/router.js"></script>
  <script src="js/app.js"></script>
</body>
</html>