<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>issues</title>
  <link rel="stylesheet" href="bower_components/reset-css/reset.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <section id="issuesapp">
    <div class="wrapper">
      <header class="header">
        <nav class="issues-nav issues-mode">
          <button class="prev-page">◀</button>
          <button class="next-page">▶</button>
        </nav>
        <nav class="issue-nav issue-mode">
          <button class="back">◀</button>
        </nav>
      </header>
      <section id="issues" class="issues-mode">
        <ul id="issue-list"></ul>
      </section>
      <section id="issue" class="issue-mode">
        <div id="issue-details"></div>
      </section>
      <div class="push"></div>
    </div>
    <footer class="footer">
      <nav class="issues-nav issues-mode">
        <button class="prev-page">◀</button>
        <button class="next-page">▶</button>
      </nav>
      <nav class="issue-nav issue-mode">
        <button class="back">◀</button>
      </nav>
    </footer>
  </section>
  <script type="text/template" id="header-title-template">
    <%- owner %> <span class='light'>/</span> <%- repo %>
  </script>
  <script type="text/template" id="list-item-template">
    <div class='left'>
      <h3 class='title'><%- title %></h3>
      <ul class='labels'>
        <%
          function getContrast50(hexcolor){
            return (parseInt(hexcolor, 16) > 0xffffff/2) ? 'dark': 'light';
          }
          _.each(labels, function (item, key, list) {
            var textClass = getContrast50(item.color);
        %>
          <li class='label <%= textClass %>' style='background-color:#<%= item.color %>'>
            <%- item.name %>
          </li>
        <%
          });
        %>
      </ul>
      <p class='body'><%- trimmedBody %></p>
    </div>
    <div class='right'>
      <img class='avatar' src=<%= user.avatar_url %>/>
      <h5 class='username'><%- user.username %></h5>
    </div>
  </script>
  <script type="text/template" id="detail-template">
    <label class="title"><%- title %></label>
  </script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src='bower_components/backbone/backbone.js'></script>
  <script src="js/models/issue.js"></script>
  <script src="js/models/page.js"></script>
  <script src="js/collections/issues.js"></script>
  <script src="js/views/page-header-title-view.js"></script>
  <script src="js/views/issue-list-item-view.js"></script>
  <script src="js/views/issue-detail-view.js"></script>
  <script src="js/views/app-view.js"></script>
  <script src="js/routers/router.js"></script>
  <script src="js/app.js"></script>
</body>
</html>